<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Droneium-UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Droneium
        </h1>
        <h2 class="subtitle">
          Intelligent deterrence.
        </h2>
      </div>
    </div>
  </section>
  <!-- <nav class="navbar is-warning">
    <div class="navbar-brand">
      <div class="navbar-item">
        <img src="{{ url_for('static',filename='images/DroneiumLogo.png') }}" alt="Droneiumn wordmark logo">
      </div>
    </div>
  </nav> -->
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-three-quarters">
          <div class="video-feed">
            <h1 class="subtitle">Live Feed</h1>
            <img src="http://localhost:5000/video_feed" alt="">
          </div>
          <a class="button is-warning" onclick="launchDrone()">Launch Drone</a>
        </div>
        <div class="column">
          <p class="heading has-text-centered">State</p>
          <p id="state" class="title has-text-centered">IDLE</p>
          <div class="level deltas">
            <div class="delta-x">
              <p class="heading has-text-centered">X-Delta</p>
              <p id="delta-x" class="title has-text-centered">N/A</p>
            </div>
            <div class="delta-y">
              <p class="heading has-text-centered">Y-Delta</p>
              <p id="delta-y" class="title has-text-centered">N/A</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-database.js"></script>
<script>
  // Initialize Firebase, reads are open but writes are locked down
  var config = {
    apiKey: "AIzaSyDdFNeEvjtNKINuXmiS1iruAxbPPb3Zkng",
    authDomain: "droneium-gix.firebaseapp.com",
    databaseURL: "https://droneium-gix.firebaseio.com",
    projectId: "droneium-gix",
    storageBucket: "droneium-gix.appspot.com",
    messagingSenderId: "372779620949"
  };
  firebase.initializeApp(config);
</script>
<script>
  const audioCommands = {
    'LAUNCH': new Audio('./static/commands/takeoffmode.mp3'),
    'SEARCH': new Audio('./static/commands/searchmode.mp3'),
    'APPROACH': new Audio('./static/commands/approachmode.mp3'),
    'DETER': new Audio('./static/commands/determode.mp3'),
    'LANDING': new Audio('./static/commands/landingmode.mp3'),
  }

  const stateRef = firebase.database().ref('state/');
  const deltaRef = firebase.database().ref('deltas/');

  stateRef.on('value', (snapshot) => {
    const mode = snapshot.val();
    if (mode in audioCommands) audioCommands[mode].play();
    document.getElementById('state').innerText = mode;
  });

  deltaRef.on('value', (snapshot) => {
    const deltas = snapshot.val();
    document.getElementById('delta-x').innerText = `${deltas.x.toFixed(3)} m`;
    document.getElementById('delta-y').innerText = `${deltas.y.toFixed(3)} m`;
  });

  const launchDrone = () => {
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        console.log('Drone is being launched...');
      }
    };
    xhttp.open('GET', 'http://localhost:5000/launch', true);
    xhttp.send();
  }
</script>

</html>